<footer class="footer">
    <!-- ! ====== Sección Superior ====== -->
    <div class="footer-top">
        <!-- ? --- Authors Button´s --- -->
        <ul class="authors-list">
            <li>
                <a
                    href="https://github.com/delfi-fenoy"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="author-link"
                >
                    <img
                        src="assets/img/buttons-icons/github-button.png"
                        alt="GitHub"
                        class="buttons-img"
                    />
                    <span>Fenoy Rivas Delfina</span>
                </a>
            </li>
            <li>
                <a
                    href="https://github.com/TvConIdeas"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="author-link"
                >
                    <img
                        src="assets/img/buttons-icons/github-button.png"
                        alt="GitHub"
                        class="buttons-img"
                    />
                    <span>Francano Ian</span>
                </a>
            </li>
            <li>
                <a
                    href="https://github.com/lolavalentinaperez"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="author-link"
                >
                    <img
                        src="assets/img/buttons-icons/github-button.png"
                        alt="GitHub"
                        class="buttons-img"
                    />
                    <span>Pérez Lola</span>
                </a>
            </li>
        </ul>

        <!-- ? --- Repository Button --- -->
        <a
            href="https://github.com/delfi-fenoy/Common-Room-V3"
            target="_blank"
            rel="noopener noreferrer"
            class="repo-btn"
        >
            <img
                src="assets/img/buttons-icons/repository-button.png"
                alt="GitHub Repo"
                class="buttons-img"
            />
            <span>Repository</span>
        </a>
    </div>

    <hr class="footer-divider" />

    <!-- ! ====== Sección Inferior ====== -->
    <div class="footer-bottom">
        <p class="institution-text">
            Universidad Tecnológica Nacional | Facultad Regional Mar del Plata
        </p>
        <p class="copyright-text">© 2026 Common Room. Todos los derechos reservados.</p>
    </div>
</footer>
