<section class="carousel-section">
    <!-- ? --- Header --- -->
    <div class="carousel-header">
        <h3 class="header-title">{{ title }}</h3>
        <span class="header-counter">{{ getFormattedCounter() }}</span>
    </div>

    <!-- ? --- Carousel --- -->
    <div class="carousel-viewport">
        <!-- Left Button -->
        <button class="nav-btn left" (click)="prevSlide()" aria-label="Previous">
            <img src="assets/img/buttons-icons/left-arrow.png" alt="Left Arrow" />
        </button>

        <!-- Movies Cards Track -->
        <div
            class="carousel-track"
            [style.transform]="'translateX(calc(33.333% - ' + currentIndex() * 33.333 + '%))'"
        >
            @for (movie of movies; track movie.id; let i = $index) {
                <div
                    class="movie-card"
                    [class.active]="i === currentIndex()"
                    [routerLink]="['/movies', movie.id]"
                >
                    <div class="img-wrapper">
                        <img
                            [src]="movie.posterUrl || 'assets/img/default-poster.jpg'"
                            [alt]="movie.title || 'Poster not available'"
                            (error)="onImgError($event)"
                        />
                        @if (i === currentIndex()) {
                            <div class="info-overlay">
                                <p class="movie-title">{{ movie.title }}</p>
                                <p class="movie-date">{{ movie.releaseDate }}</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Right Button -->
        <button class="nav-btn right" (click)="nextSlide()" aria-label="Next">
            <img src="assets/img/buttons-icons/right-arrow.png" alt="Right Arrow" />
        </button>
    </div>

    <!-- ? --- Indicators --- -->
    <div class="carousel-indicators">
        @for (movie of movies; track movie.id; let i = $index) {
            <span class="indicator-dash" [class.active]="i === currentIndex()"></span>
        }
    </div>
</section>