<section class="carousel-section">
    <!-- ? --- Header --- -->
    <div class="carousel-header">
        <h3 class="header-title">{{ title }}</h3>
        <span class="header-counter">{{ getFormattedCounter() }}</span>
    </div>

    <!-- ? --- Carousel --- -->
    <div class="carousel-viewport">
        <!-- Left Button -->
        <button class="nav-btn left" (click)="prevSlide()" aria-label="Previous">
            <img src="assets/img/buttons-icons/left-arrow.png" alt="Left Arrow" />
        </button>

        <!-- Movies Cards Container (Solo 3 elementos a la vez) -->
        <div class="carousel-track">
            @for (item of getVisibleMovies(); track item.movie.id) {
                <div
                    class="movie-card"
                    [class.active]="item.position === 'center'"
                    [routerLink]="['/movies', item.movie.id]"
                >
                    <div class="img-wrapper">
                        <img
                            [src]="item.movie.posterUrl || 'assets/img/default-poster.jpg'"
                            [alt]="item.movie.title || 'Poster not available'"
                            (error)="onImgError($event)"
                        />
                        @if (item.position === 'center') {
                            <div class="info-overlay">
                                <p class="movie-title">{{ item.movie.title }}</p>
                                <p class="movie-date">{{ item.movie.releaseDate }}</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Right Button -->
        <button class="nav-btn right" (click)="nextSlide()" aria-label="Next">
            <img src="assets/img/buttons-icons/right-arrow.png" alt="Right Arrow" />
        </button>
    </div>

    <!-- ? --- Indicators --- -->
    <div class="carousel-indicators">
        @for (movie of movies; track movie.id; let i = $index) {
            <span class="indicator-dash" [class.active]="i === currentIndex()"></span>
        }
    </div>
</section>