<!-- Encabezado Fijo -->
@if (showLayout()) {
    <app-header (toggleSidebarEvent)="onToggleSidebar()"></app-header>

    <!-- Menú Lateral / Sidebar -->
    <app-sidebar [isOpen]="isSidebarOpen()" (closeSidebarEvent)="closeSidebar()"></app-sidebar>
}

<!-- Contenido de las páginas según la ruta -->
<main [class.no-layout]="!showLayout()">
    <router-outlet></router-outlet>
</main>

<!-- Footer Fijo -->
@if (showLayout()) {
    <app-footer></app-footer>
}

<!-- Solo intercepta Alertas y Confirmaciones Globales -->
@if (modalService.isOpen() && (modalService.type() === 'success' || modalService.type() === 'error' || modalService.type() === 'confirm')) {
    <app-modal></app-modal>
}