/* * ========== Home Container ========== */
.home-container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

/* * ========== Logo Section ========== */
.logo-section {
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.main-logo {
    width: clamp(14rem, 45vw, 32rem); /*clamp(min, ideal, max) */
    margin: 1.5rem auto 2rem auto;
    display: block;
}
