/* * ========== Home Container ========== */
.home-container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

/* * ========== Logo Section ========== */
.logo-section {
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.main-logo {
    width: clamp(14rem, 45vw, 32rem); /*clamp(min, ideal, max) */
    margin: 1.5rem auto 2rem auto;
    display: block;
}

/* ! ========== Placeholder Section (Futuras cosas) ========== */
.placeholder-section {
    width: 100%;
    margin-bottom: 3.5rem;
}

.placeholder-content {
    min-height: 8rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px dashed var(--brown-300);
    border-radius: 0.6rem;
}