/* * ========== Home Container ========== */
.home-container {
    position: relative;
    width: 100%;
    max-width: 63rem; 
    margin: 0 auto;
    padding: 0 1.5rem 4rem 1.5rem;
    box-sizing: border-box;
}

.home-container::before {
    content: '';
    position: absolute;
    top: -1.25rem; /* Padding-top del contenedor main */
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 26rem; 
    background: linear-gradient(180deg, rgba(43, 59, 42, 0.363) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 0;
}

/* * ========== Logo Section ========== */
.logo-section {
    position: relative;
    z-index: 1;
    text-align: center;
    user-select: none;
    pointer-events: none;
    padding: 2.5rem 1rem 1.5rem 1rem;
    margin-bottom: 2rem;
    background: transparent;
}

.main-logo {
    width: clamp(16rem, 50vw, 36rem); /*clamp(min, ideal, max) */
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.7)); 
}