/* * ========== Home Container ========== */
.home-container {
    position: relative;
    width: 100%;
    max-width: 63rem; 
    margin: 0 auto;
    padding: 0 1.5rem 4rem 1.5rem;
    box-sizing: border-box;
}

.home-container::before {
    content: '';
    position: absolute;
    top: -1.25rem; /* Padding-top del contenedor main */
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    width: 100dvw;
    height: clamp(16rem, 35vh, 26rem); 
    background: linear-gradient(180deg, rgba(43, 59, 42, 0.363) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 0;
}

/* * ========== Logo Section ========== */
.logo-section {
    position: relative;
    z-index: 1;
    text-align: center;
    user-select: none;
    pointer-events: none;
    padding: clamp(1.5rem, 5vw, 2.5rem) 1rem clamp(1rem, 3vw, 1.5rem) 1rem;
    margin-bottom: clamp(1rem, 4vw, 2rem);
    background: transparent;
}

.main-logo {
    width: clamp(14rem, 65vw, 36rem); /* clamp(min, ideal, max) */
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.7)); 
}

/* ! =========== RESPONSIVE =========== */
@media (max-width: 480px) {
    .home-container {
        padding: 0 0.85rem 2.5rem 0.85rem;
    }
}