:root {
    /* Primary | Green (60%) */
    --green-100: #d3e29e;
    --green-200: #acb981;
    --green-300: #889265;
    --green-400: #656d4a;
    --green-500: #444a31;
    --green-600: #26291a;
    --green-700: #101209;

    /* Secondary | Brown (30%) */
    --brown-100: #efd9bf;
    --brown-200: #d2af80;
    --brown-300: #a68a64;
    --brown-400: #7c674a;
    --brown-500: #554631;
    --brown-600: #31271a;
    --brown-700: #161009;

    /* Tertiary | Purple (10%) */
    --purple-100: #efeef2;
    --purple-200: #c8c4d2;
    --purple-300: #a39cb4;
    --purple-400: #807596;
    --purple-500: #5d5271;
    --purple-600: #3a3348;
    --purple-700: #1b1722;

    /* Delete | Red */
    --red-100: #ffcdd2;
    --red-200: #ef9a9a;
    --red-300: #e57373;
    --red-400: #ef5350;
    --red-500: #e53935; 
    --red-600: #c62828;
    --red-700: #b71c1c;
    --red-bg-subtle: rgba(229, 57, 53, 0.2);
}

/* <----- Reset de Box Sizing y Márgenes Globales -----> */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
    max-width: 100%;
}

body {
    overflow-x: hidden; 
    max-width: 100%;
    background-image: url('/assets/img/background/background-pattern.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: top center;
}

/* <----- Bloquear arrastrado y selección en todas las imágenes -----> */
img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto; /* Permite clics pero no arrastrar */
}