<div class="users-container">
    <!-- * ========== Sección de Filtros ========== -->
    <section class="filters-section">
        <div class="filters-container">
            <label for="filter-select">Filter users:</label>

            <select
                id="filter-select"
                class="filter-dropdown"
                [value]="selectedFilter"
                (change)="onFilterSelect($event)"
            >
                <option value="all">All Users</option>
                <option value="ADMIN">Admins ⭐</option>
                <option value="USER">Members</option>
            </select>
        </div>
    </section>

    <!-- * ========== Grid de Usuarios ========== -->
    <section class="users-section">
        @for (user of users; track user.id) {
            <div class="user-card" [routerLink]="[user.username]">
                <div class="img-wrapper">
                    <img
                        [src]="
                            user.profilePictureUrl ||
                            (user.role === 'ADMIN'
                                ? 'assets/img/default-img/admin-noimg.jpg'
                                : 'assets/img/default-img/user-noimg.jpg')
                        "
                        [alt]="user.username || 'User picture'"
                        (error)="noProfilePicture($event, user.role)"
                    />

                    <div class="info-overlay">
                        @if (user.role === 'ADMIN') {
                            <h3>⭐</h3>
                        }
                        <h1>{{ user.username }}</h1>
                    </div>
                </div>
            </div>
        }
    </section>

    <!-- ? --- Spinner de Carga Infinito --- -->
    @if (isLoading) {
        <div class="loading-indicator">
            <div class="spinner"></div>
            <span>Loading more users...</span>
        </div>
    }

    <!-- ? --- Botón Flotante para Volver Arriba --- -->
    @if (showScrollTopBtn) {
        <button class="scroll-top-btn" (click)="scrollToTop()" aria-label="Scroll to top">
            <img src="assets/img/buttons-icons/arrow-button.png" alt="Scroll to top" />
        </button>
    }
</div>