<footer>
    <ul>
        <li><a href="https://github.com/delfi-fenoy">Fenoy Rivas Delfina</a></li>
        <li><a href="https://github.com/TvConIdeas">Francano Ian</a></li>
        <li><a href="https://github.com/lolavalentinaperez">Pérez Lola</a></li>
        <li><a href="https://github.com/TvConIdeas/Common-Room">Current GitHub</a></li>
        <li><a href="https://github.com/delfi-fenoy/Common-Room">Previous GitHub</a></li>
    </ul>
    <p>Universidad Tecnológica Nacional | Programación IV | Comisión 2</p>
    <p>©2025 Todos los derechos reservados</p>
</footer>
