<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign in | Common Room</title>
    <link rel="icon" href="/img/iconLetter.png" type="image/png"/>
    <link href="https://fonts.googleapis.com/css2?family=Grenze&family=Macondo+Swash+Caps&family=Uncial+Antiqua&display=swap"
          rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/signin.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/errorModal.css"/>
  </head>

  <body>
  <div th:replace="fragments/modal-error :: modalError"></div>

  <!-- ============================== Stars ============================== -->
    <div class="stars"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>

    <!-- ============================== Back to index ============================== -->
    <a th:href="@{/home}" class="back-button" title="Home">
      <img th:src="@{/img/iconLetter.png}" alt="Inicio" class="logo-img"/>
    </a>

    <!-- ============================== Perpectivas ============================== -->
    <div class="flip-container" id="flipContainer">
      <div class="card">
        <!-- ============================== Sign In ============================== -->
        <div class="login-container front">

          <form class="login-box" th:action="@{/auth/login}" method="post" novalidate>
            <h2>Sign in</h2>

            <!-- Nombre de Usuario -->
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required/>

            <!-- Contraseña -->
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required/>

            <!-- Botón de Sign In -->
            <button type="submit">Sign in</button>

            <!-- Flip -->
            <p class="signup-text">
              Don't have an account?
              <a href="#" onclick="flipCard()">Register</a>
            </p>
          </form>

        </div>

        <!-- ============================== Register ============================== -->
        <div class="login-container back">
          <form id="form-register" class="login-box" th:action="@{/auth/register}" method="post" novalidate>
            <h2>Register</h2>

            <!-- Nombre de Usuario -->
            <label for="new-username">Username</label>
            <input type="text" id="new-username" name="username" placeholder="Username" required/>

            <!-- Email -->
            <label for="new-email">Email</label>
            <input type="email" id="new-email" name="email" placeholder="you@example.com" required/>

            <!-- Password -->
            <label for="new-password">Password</label>
            <input type="password" id="new-password" name="password" placeholder="Password" required/>

            <!-- Profile Picture (Opcional) -->
            <label for="new-profilePictureUrl">Profile Picture</label>
            <input type="url" id="new-profilePictureUrl" name="profilePictureUrl" placeholder="Foto de perfil (opcional)"/>

            <!-- Botón de Register -->
            <button type="submit">Register</button>

            <!-- Flip -->
            <p class="signup-text">
              Already have an account?
              <a href="#" onclick="flipCard()">Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- ============================== JS ============================== -->
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/modalError.js"></script>

    <!--Funcion Flip y Aparecer en register-->
    <script>
      function flipCard() {
        document.getElementById("flipContainer").classList.toggle("flipped");
      }

      // Si la URL contiene"?register=true", girar la tarjeta automáticamente
      window.addEventListener("DOMContentLoaded", () => {
        const params = new URLSearchParams(window.location.search);
        if (params.get("register") === "true") {
          flipCard();
        }
      });
    </script>
  </body>
</html>
